@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@400;500&display=swap');
*{
   margin: 0;
   padding: 0;
   list-style: none;
   font-family: 'Rajdhani', sans-serif;
}
:root{
   --body: #fff;
   --primary: #6C1BFF;
   --text: #000;
   --hex: #E5E5E5;
   --primary-grey: #EDE4FF;
   --gradient: rgba(0, 0, 0, 0.5);
   --gradient-light: rgba(225, 225, 225, 0.6);
}
body{
   position: relative;
}
.home{
   width: 100%;
   min-height: 100vh;
   background-image: url(asset/background1.jpg);
   background-repeat: no-repeat;
   background-size: cover;
   background-position: center;
}
nav{
   position: fixed;
   width: 100%;
   display: flex;
   align-items: center;
   justify-content: space-between;
   /*background-color: var(--gradient);
   /*padding: 20px 10%;*/
   transition: 0.5s ease;
   z-index: 1;
}
body.nav-design nav{
   background-color: var(--gradient);
}
nav .logo {
   padding-left: 20px;
}
nav .logo h1{
   font-size: 3rem;
   color: var(--body);
}
nav .logo h1 span{
   color: var(--primary);
}
.nav-btn{
   display: none;
}
.nav-link{
   padding-right: 20px;
}
.nav-link ul{
   display: flex;
   align-items: center;
   justify-content: center;
}
.nav-link ul li{
   font-size: 16px;
   padding: 12px;
   margin: 0 10px;
   transition: 0.3s ease;
   color: var(--body);
}
.nav-link ul li:hover{
   border-bottom: 2px solid var(--primary);
}
.home-section{
   height: 100%;
   width: 100%;
   display: flex;
   align-items: center;
   justify-content: center;
   color: var(--body);
   overflow: hidden;
}
.new-sec{
   text-align: center;
}
.new-sec h1{
   padding: 10px 0;
   font-size: 4.5rem;
   text-align: center;
}
.new-sec h2{
   font-size: 2rem
}
.new-sec p{
   padding: 10px 0;
   font-size: 2rem;
}
.new-sec button{
   width: 180px;
   height: 50px;
   padding: 10px;
   border: none;
   font-size: 20px;
   margin-top: 15px;
   color: var(--text);
   background-color: var(--gradient-light);
}
@media (max-width: 600px){
   .home{
      height: 100vh;
   }
   nav{
      display: block;
      align-items: center;
      padding: 0;
   }
   .logo-btn{
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 10px 0;
   }
   nav .logo{
      padding-left: 5px;
   }
   .nav-btn{
      display: block;
      padding-right: 10px;
   }
   .nav-btn i{
      display: flex;
      align-items: center;
      justify-content: center;
      width: 40px;
      height: 40px;
      padding: 5px;
      font-size: 22px;
      color: var(--text);
      background-color: var(--gradient-light);
   }
   .nav-link{
      width: 100%;
      background-color: var(--gradient);
      height: 0;
      overflow: hidden;
      transition: 1s ease;
   }
   body.open .nav-link{
      height: auto;
      transition: 1s ease;
   }
   .nav-link ul{
      display: block;
      padding: 10px;
   }
   .nav-link ul li{
      display: flex;
      align-items: center;
      height: 30px;
      padding: 10px;
      margin: 5px 0;
      color: var(--body);
      font-size: 16px;
      font-weight: bold;
      /*background-color: var(--gradient-light);*/
      border: none;
   }
   .nav-link ul li:hover{
      color: var(--text);
      background-color: var(--gradient-light);
      border-left: 5px solid var(--primary);
      border-bottom: none;
   }
}
.multiverse-section{
   display: flex;
   justify-content: center;
   align-items: center;
   padding: 10% 0;
   background-color: var(--primary-grey);
   overflow: hidden;
}
.multiverse-section div{
   text-align: center;
}
.multiverse-section div h1{
   font-size: 6rem;
}
.multiverse-section div p{
   font-size: 20px;
}
.multiverse-section div button{
   width: 180px;
   height: 50px;
   padding: 10px;
   border: none;
   font-size: 20px;
   margin-top: 15px;
   color: var(--text);
   background-color: var(--gradient-light);
   border: 1px solid var(--text);
}
.recent-launch-section{
   padding: 10% 0;
}
.recent-launch-section h1{
   text-align: center;
   font-size: 3rem;
}
.recent-launch-sec{
   display: flex;
   flex-wrap: wrap;
   align-content: center;
   justify-content: center;
   padding: 10px;
}
.recent-launch-sec li{
   position: relative;
   height: 350px;
   width: 30%;
   margin: 10px;
   overflow: hidden;
}
.recent-launch-sec li img{
   width: 100%;
   height: auto;
}
.recent-launch-sec li div{
   position: absolute;
   bottom: 0;
   width: 100%;
   background-color: var(--gradient)
}
.recent-launch-sec li div h2{
   font-size: 2rem;
   color: var(--body);
   padding: 10px;
}
.recent-launch-sec li div button{
   margin: 10px 0;
   width: 180px;
   height: 50px;
   border: none;
   font-size: 20px;
   margin: 10px;
   color: var(--text);
   background-color: var(--gradient-light);
}
@media (max-width: 600px){
   .recent-launch-sec li{
      width: 100%;
   }
}
.planet-section{
   background-image: url(asset/orsrc78446.png);
   background-repeat: no-repeat;
   background-size: cover;
   background-position: center;
   display: flex;
   align-items: center;
   justify-content: center;
   height: 100vh;
   padding: 5%;
   text-align: center;
   color: #fff;
}
.planet-section h1{
   font-size: 3.5rem;
   -webkit-text-stroke: 0.3px #000;
}
.planet-section p{
   font-size: 1.2rem;
   font-weight: bold;
   padding: 20px 8%;
   -webkit-text-stroke: 0.3px #000;
}
.planet-section button{
   width: 180px;
   height: 50px;
   border: none;
   font-size: 20px;
   margin-top: 15px;
   color: var(--text);
   background-color: var(--gradient-light);
}
@media (max-width: 600px){
   .planet-section p{
      padding: 10px;
   }
}
.article-section{
   padding: 5%;
}
.article-section h2{
   text-align: center;
   font-size: 2rem;
   margin: 10px 0;
}
.article-section h2 span{
   font-size: 50px;
   color: var(--primary);
}
.article-sec ul{
   display: flex;
   flex-wrap: wrap;
   justify-content: space-between;
}
.article-sec ul li{
   display: flex;
   align-items: center;
   justify-content: space-between;
   width: 45%;
   margin: 10px 0;
   padding: 10px;
   background-color: var(--hex);
   transition: 0.3s ease;
}
.article-sec ul li:hover{
   border-bottom: 3px solid var(--primary);
}
.article-sec ul li img{
   min-width: 100px !important;
   height: 100px !important;
   border-radius: 50%;
   padding-right: 10px;
}
.article-sec ul li div h4{
   padding: 5px 0;
}
.article-sec ul li div p{
   font-size: 18px;
}
.article-sec ul li div p span:last-child{
   color: var(--primary);
   padding-left: 10px;
}
@media (max-width: 600px){
   .article-sec ul{
      justify-content: center;
   }
   .article-sec ul li{
      width: 100%;
   }
   .article-section {
      padding: 5%;
   }
}
.today-section{
   padding: 10%;
}
.today-section p{
   font-size: 1.3rem;
}
.today-section h2{
   padding: 10px 0;
}
.today-sec{
   width: 100%;
   display: flex;
   flex-wrap: wrap;
   justify-content: space-between;
}
.today-img{
   width: 47%;
   height: 350px;
   overflow: hidden;
}
.today-img img{
   width: 100%;
   height: auto;
}
.today-text{
   width: 50%;
}
@media (max-width: 600px){
   .today-section{
      padding: 10% 5%;
   }
   .today-sec{
      justify-content: center;
   }
   .today-img{
      width: 100%;
   }
   .today-text{
      width: 100%;
   }
}







.space{
   height: 100vh;
   background-color: gold;
}